{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
		{% block title %}
		{% endblock %}
	</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<link rel="stylesheet" href=" {% static 'css/styles.css' %} ">
	<link rel="stylesheet" href=" {% static 'images/para1.jpg' %} ">
	<link rel="stylesheet" href=" {% static 'images/para2.jpg' %} ">
</head>
<body>
	{% block content %}
	{% endblock %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
</html>